  <!DOCTYPE html>
<html>
  <head>
    <title>Restaurant</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
   <h1> Fill out this form to get some restaurant recommendations! </h1>
    
       <table>
  <tr>
    <th>Food options</th>
   
  </tr>
  <tr>
    <td>Pizza____________________________Burgers <br>
    <img src="https://ctl.s6img.com/society6/img/Seghx63PaWcG3VF7wlzzrr-mwnw/w_700/prints/~artwork/s6-original-art-uploads/society6/uploads/misc/f63b914fb39d4cf6b3ad3d20a600d020/~~/pizza-cartoon-prints.jpg" alt="Picture of Pizza" width="300" height="300">  <img src="https://www.clipartkey.com/mpngs/m/137-1370234_clip-art-cartoon-burger.png" alt="Picture of a burger" width="300" height="300"></td>
    
  </tr>
 
  <tr>
    <td> Salads__________________________Ice cream <br>  <img src="https://images-platform.99static.com//5GaMaD5-NhCb1svuLQilXu3Vf8M=/0x0:960x960/fit-in/500x500/99designs-contests-attachments/62/62480/attachment_62480756" alt="Picture of a Salad" width="300" height="250"> 
    <img src="https://i.pinimg.com/600x315/a5/67/b9/a567b913a9aefd5a3e408b49d2cd8e61.jpg" alt="Picture of Ice cream" width="300" height="250"></td> 
    
  </tr>
    
 
</table>
      <form action='/response'>
      What is your favorite food?<br>
      <input type="text" name="food">
      <br><br>
      <input type="submit">
    </form>

  </body>
</html>
