<!DOCTYPE html>
<html>
  <head>
    <title>Food Recommendations </title>
     <link href = "style.css" rel= "stylesheet">
  </head>
  <body>
<h1> What is your favorite food? <h1>    
<form action='/response' class = "text">
  <input type ="text" name="food">
  <label for="food"> Choose a food:</label>
  <select name="food">
    <option name="pizza">pizza</option>
    <option same="burgers">burger</option>
    <option name="salads">salads</option>
    <option name="ice cream">ice cream</option>
  </select>
  <br><br>
  <input type="submit" id ="check">
</form>
  </body>
</html>
