  <!DOCTYPE html>
<html>
  <head>
    <title>Restaurant</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
   <h1> Fill out this form to get some restaurant recommendations! </h1>
    <form action='/response'>
      What is your favorite food?<br>
       <table>
  <tr>
    <th>Food options</th>
   
  </tr>
  <tr>
    <td>Pizza /burgers <br>
    <img src="https://image.freepik.com/free-vector/pizza-logo-design-template_15146-192.jpg" alt="Picture of Pizza" width="300" height="300">  <img src="https://image.freepik.com/free-vector/burger-logo_1366-144.jpg" alt="Picture of a burger" width="300" height="300"></td>
    
  </tr>
 
  <tr>
    <td> Salads/Ice cream <br>  <img src="https://images-platform.99static.com//5GaMaD5-NhCb1svuLQilXu3Vf8M=/0x0:960x960/fit-in/500x500/99designs-contests-attachments/62/62480/attachment_62480756" alt="Picture of a burger" width="300" height="250"> 
    <img src="https://i.pinimg.com/600x315/a5/67/b9/a567b913a9aefd5a3e408b49d2cd8e61.jpg" alt="Picture of Ice cream" width="300" height="250"></td> 
    
  </tr>
    
 
</table>
      
      <input type="text" name="food">
      <br><br>
      <input type="submit">
    </form>

  </body>
</html>
